@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estrellas animadas */
.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  animation: twinkle 4s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}


